
a {
    color: #c49a6c;
}

.heading {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: end;
    font-family: CaeciliaLT;
    color: #c49a6c;
    font-size: 60px !important;
    line-height: 64px;
    margin-top: 0 !important;
}

.caseGrid {
    height: 100vh;
    width: 100vw;
    display: grid;
    display: -ms-grid;
    background-color: #1d1d1d;
    grid-template-columns: 16% auto 16%;
    grid-template-rows: 16% 34% 34% 16%;
  }